//Profile config names for nf-core/configs
params {
    config_profile_description = 'University of Nebraska Medical Center UNMC-HCC HPC cluster profile provided by nf-core/configs.'
    config_profile_contact = 'AB Rauf Shah (abrshah@unmc.edu)'
    config_profile_url = 'https://github.com/arshah18/nfcore/tree/main'
    max_memory = 224.GB
    max_cpus = 32
    max_time = '72.h'

}

singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = 'slurm'
    clusterOptions = '--export=NONE'
    maxRetries = 2
}
